boto3==1.38.41
botocore==1.38.46
dbt-core==1.10.2
dbt-redshift==1.9.5
faker==37.4.0
fastapi==0.115.13
kafka-python==2.2.15
psycopg2-binary==2.9.10
pyspark==3.5.1
python-dotenv==1.1.0
requests==2.32.4
s3transfer==0.13.1
sqlalchemy==2.0.41
uvicorn==0.34.3
